@model IEnumerable<MAS_semestral_project_MVS.DataBaseModels.Person>

<p>
    <a asp-action="Create">Create New НЕ МЕШАЕТ? Или оствыить?</a>
</p>
<div class="client-list">
    @Html.Partial("Partials/ClientList")
    
</div>