@{
    ViewData["Title"] = "List";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <main>
        <h2>List of elements </h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Nazw    a</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gigabyte GeForce GTX 1660 SUPER OC 6GB GDDR6</td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="./computer-element-sczegoly.html"
                                   class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="computer-element-fill.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        AMD Ryzen 5 3600 3,6GHz BOX (100-100000031BOX)
                    </td>
                    <td>

                        <ul class="list-actions">
                            <li>
                                <a href="" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </td>

                </tr>
            </tbody>
        </table>
        <p><a href="computer-element-form.html" class="button-add">Dodaj nowy element komputera</a></p>
    </main>


    <p>
        Закреплено пользователем Luca B.
        Miruu Kon
        3 недели назад (изменено)
        oh shiii someone finally inserted  a meme in it xD

        btw am the one who did the sound fx on this one haha
    </p>

</div>
