@model MAS_semestral_project_MVS.Models.Views.HomeModelView

@{
    ViewData["Title"] = "Home Page";
}
<!-- Сделать 2 квадрата на одном уровне (Таблицы и названия к ним)-->
<div class="text-center">
    
    <div class="elements-table-place">
        @Html.Partial("Partials/ClientList", Model.Clients)
        <!-- Если, что, то закину через ViewData[""]-->
    </div>
    <div class="elements-table-place">
        @Html.Partial("Partials/ReceptionistList", Model.Receptionists)
    </div>
</div>
