@{
    ViewData["Title"] = "Lists";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Закреплено пользователем Luca B.
        Miruu Kon
        3 недели назад (изменено)
        oh shiii someone finally inserted  a meme in it xD

        btw am the one who did the sound fx on this one haha
    </p>

</div>
