html {
    background-color: #EDF0FF;
}
table.navbar-table {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.navbar-table td, table.navbar-table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;

}


th.nav-item {
    background-color: lightgray;
}


a.nav-link{
    font-family: Arial;
    font-size: 100%;
}
    
    a.nav-link:link,
    a.nav-link:visited {
        background-color: #6E89FF;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: block;
    }
    a.nav-link:hover,
    a.nav-link:active {
        background-color: #91A5FF;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
p.information {
    font-size: 350%;
    text-align: center;
}


table.list-element th.element-head {
    border: 1px solid #1C6EA4;
    background-color: #BBFFAF; 
    width: auto;
    min-width: 150px;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    box-sizing: border-box;
    
}
table.list-element th.element-button-head {
    border: 1px solid #1C6EA4;
    background-color: #A5E19A; 
    width: auto;
    min-width: 150px;
    text-align: center;
    border-collapse: collapse;
    position: relative;
    box-sizing: border-box;
}
div.client-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

table.list-element th.element-head, table.list-element td.element-body {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}


table.list-element tbody.table-element-body {
    overflow: scroll;
    height: auto; 
}
a.button-edit,
a.button-details,
a.button-delete,
a.button-find,
div.button-create-position a.button-create,
a.button-back {
    font-family: Arial;
    font-size: 100%;
    border-radius: 5px;
}



    a.button-back:link,
    a.button-back:visited {
        color: white;
        background-color: #E7A94D;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;
        
    }

    a.button-back:hover,
    a.button-back:active {
        background-color: #E7C086;
    }

div.form-group {
    margin-bottom: 1%;
    margin-right: auto;  
}
    
    a.button-edit:link,
    a.button-edit:visited {
        background-color: #7CE182;
        color: white;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;

    }
    a.button-edit:hover,
    a.button-edit:active {
        background-color: #5DA962;
    }

    a.button-details:link,
    a.button-details:visited {
        background-color: #F4CA16;
        color: #000000;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;

    }
    a.button-details:hover,
    a.button-details:active {
        background-color: #F4DF7F;
    }
    

    a.button-delete:link,
    a.button-delete:visited {
        background-color: #EB4C42;
        color: white;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;

    }
    a.button-delete:hover,
    a.button-delete:active {
        background-color: #EB948E;
    }
    
    a.button-find:link,
    a.button-find:visited {
        background-color: #318CE7   ;
        color: white;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;

    }
    a.button-find:hover,
    a.button-find:active {
        background-color: #66A7E7;
    }

 
div.button-create-position .button-create:hover,
div.button-create-position .button-create:active {
    background-color: #318CE7;
}

 
div.button-create-position .button-create:visited,
div.button-create-position .button-create:link {
    background-color: #52C868;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
}



div.button-create-position a.button-create {
    position: relative;
    top: 50%;
    display: inline-block;
    right: -69%;  
    color: white;
}
div.elements-table-place {
    display: flex;
    flex-direction: row;
}
h3.table-title {
    display: inline-flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 36%;
}

table.list-element {
    padding-left: 1%;
    padding-right: 7%;
}
div.table-title-contener {
    display: flex;
    flex-direction: row;
}

label.control-label {
    display:block;  
    
}

