@model IEnumerable<MAS_semestral_project_MVS.DataBaseModels.Person>


<div class="client-list">
    @Html.Partial("Partials/ReceptionistList")
    <!--
    <p>
        <a class="button-create" asp-action="Create">Create New </a>
    </p>
        -->
</div>
<div class="button-create-position">
    <p>
        <a class="button-create" asp-action="Create">Create New </a>
    </p>
</div>


